body{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@mixin align_all {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@mixin align_all_nowrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

